<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Main.ConnectionString.SQL Server (SqlClient)" connectionString="data source=ZeusVM\SQLSERVER2005;initial catalog=Northwind;integrated security=SSPI;persist security info=False;packet size=4096"/>
  </connectionStrings>
  
  <system.serviceModel>
    <bindings>
    </bindings>
    <services>
      <service name="SD.LLBLGen.Pro.Examples.WCF.Service.NorthwindService">
        <endpoint address="" 
                  binding="netTcpBinding" 
                  name="WCFExampleServer" 
                  contract="SD.LLBLGen.Pro.Examples.WCF.ServiceInterface.INorthwindService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:6543/WCFExampleServer" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>